.editor {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    min-height: 78vh;
    max-width: 1200px;
    padding: 50px;
    margin: 0 auto;
    justify-content: space-between;
    width: 100%;
}

.edit-panel {
    box-shadow: inset -1px -4px 0px 0px #505050, inset 1px -6px 7px 0px #767676;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #383b42a9;
    width: 320px;
    height: 550px;
    padding: 1.5rem 2.5rem;
    border-radius: 25px;
}

.canvas-container {
    width: 300px;
    height: 300px;
    margin-top: 25px;
    margin-bottom: 50px;
}